<template>
  <div class="hello" :style="{ backgroundImage: 'url(\'' + bgImage + '\')' }">
    <h1>{{ msg }}</h1>

    <div class="md-layout">
      <div class="md-layout-item md-size-66 mx-auto">
        <md-button class="md-primary">Default</md-button>
        <md-button class="md-primary md-round">Round</md-button>
        <md-button class="md-primary"
          ><md-icon>favorite</md-icon> With Icon</md-button
        >
        <md-button class="md-primary md-just-icon md-round"
          ><md-icon>favorite</md-icon></md-button
        >
        <md-button class="md-primary md-simple">Simple</md-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  @Prop() private bgImage!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
